<div class="container">
  <%= simple_form_for @recipe, html: {data: {controller: "ingredients"}} do |form| %>
    <div class="d-flex justify-content-between">
      <a href="<%=recipes_path%>"><button class="button_default"><i class="fa-solid fa-chevron-left"></i></button></a>
      <%= form.submit "Add recipe", class: "button_default"%>
    </div>

    <div class="d-flex mt-2">

      <div class="col-6 pe-3">
        <div class="imageplaceholder"></div>
        <%# <% if recipe.photo %>
        <%= form.input :photo, label_html: {style: "display: none;"}, as: :file, class:"theform" %>
        <%# <% end %>
      </div>

      <div class="recipe-info col-6 d-flex flex-column justify-content-between ps-3">
        <div>
          <%= form.input :title, label_html: {style: "color: #177152; font-size: 18px; font-weight: 600;"}, placeholder: "Worlds Most Scrumptious Recipe" %><br>
          <%= form.input :description, label_html: {style: "color: #177152; font-size: 18px; font-weight: 600;"}, placeholder: "This is the best recipe in the world rumor is that when you try it you'll be smiling forever and everrr" %> <br>
        </div>

        <div class="d-flex justify-content-between" style="width: 600px; color: #177152; font-size: 15px; font-weight: 600;">
          <div class="d-flex" style="width: 300px">
            <i class="icon-large fa-solid fa-mortar-pestle"></i>
            <div>
              <%= form.input :prep_time, as: :select, label: "Cook time (mins)", collection: (0..120).step(5), input_html: { class: "form-validation select-input" }, label_html: {value: "Prep time (mins)" } %>
            </div>
          </div>
          <div class="d-flex" style="width: 300px">
            <div class="d-flex justify-content-end" style="width: 40px"><i class="icon-large fa-solid fa-stopwatch"></i>
            </div>
            <div>
              <%= form.input :cook_time, as: :select, label: "Cook time (mins)", collection: (0..120).step(5), input_html: { class: "form-validation select-input" } %>
            </div>
          </div>
          <div class="d-flex" style="width: 300px">
            <i class="icon-large fa-solid fa-utensils"></i>
            <div>
              <%= form.input :servings, as: :select, collection: (1..10), input_html: { class: "form-validation select-input" } %>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between" style="width: 400px; color: #177152; font-size: 15px; font-weight: 600;">
          <div class="d-flex" style="width: 300px">
            <i class="icon-large fa-solid fa-earth-americas"></i>
            <div>
              <%= form.input :cuisine, as: :select, collection: Recipe::CUISINES, input_html: { class: "form-validation" } %>
            </div>
          </div>
          <div class="d-flex" style="width: 300px">
            <div class="d-flex justify-content-end" style="width: 40px"><i class="icon-large fa-solid fa-traffic-light"></i>
            </div>
            <div>
              <%= form.input :level, as: :select, collection: ["Easy","Medium", "Hard"], input_html: { class: "form-validation" } %>
            </div>
          </div>
        </div>

          <div class="d-flex">
            <i class="icon-large fa-solid fa-seedling"></i>
            <div class="d-flex flex-column">
                <p style="color: #177152; font-size: 15px; font-weight: 600;" >Allergens</p>
              <div class="yoo d-flex justify-content-between">

                  <div class="acb"><%= form.input :vegetarian, as: :boolean, label: 'Vegetarian' %></div>
                  <div class="acb"><%= form.input :vegan, as: :boolean, label: 'Vegan' %></div>

                  <div class="acb"><%= form.input :dairy_free, as: :boolean, label: 'Dairy Free' %></div>
                  <div class="acb"><%= form.input :nut_free, as: :boolean, label: 'Nut Free' %></div>
                  <div class="acb"><%= form.input :gluten_free, as: :boolean, label: 'Gluten Free' %></div>
                  <div class="acb"><%= form.input :egg_free, as: :boolean, label: 'Egg Free' %></div>
              </div>
            </div>
          </div>
      </div>

    </div>



    <div class="bottomhalf d-flex">


      <div class="index_recipecard col-6">
        <h2 class="top">Ingredients</h2>
      <ul class="content ii" data-ingredients-target="ingredientsWrapper">
        <%= form.simple_fields_for :recipe_ingredients do |recipe_ingredient_form| %>
        <!-- Use the virtual attribute for ingredient name -->
        <%# <div class= "d-flex"> %>
          <li class="d-flex">
            <%= recipe_ingredient_form.input :ingredient_name, placeholder: "Ingredient", label_html: {style: "display: none;"}, wrapper_html: { data: { action: 'change->ingredients#add'} }, class: "ingrdient_form"%>
            <%= recipe_ingredient_form.input :amount , placeholder: "Amount",label_html: {style: "display: none;"}, class: "ingrdient_form"%>
            <%= recipe_ingredient_form.input :measurement_type, placeholder: "Measurement",label_html: {style: "display: none;"}, class: "ingrdient_form"%>
        </li>
        <%# </div> %>
    <% end %>
        <template data-ingredients-target="template">
      <%= form.simple_fields_for :recipe_ingredients, RecipeIngredient.new do |recipe_ingredient_form| %>
        <!-- Use the virtual attribute for ingredient name -->

        <li data-ingredients-target= "ingredient" class="d-flex">
          <%= recipe_ingredient_form.input :ingredient_name, placeholder: "Ingredient", label_html: {style: "display: none;"}, wrapper_html: { data: { action: "change->ingredients#add"} } %>
          <%= recipe_ingredient_form.input :amount , placeholder: "Amount",label_html: {style: "display: none;"} %>
          <%= recipe_ingredient_form.input :measurement_type, placeholder: "Measurement",label_html: {style: "display: none;"}%>
        </li>
      </div>
      <% end %>
    </template>
    </ul>
    <!-- Button to add a new recipe ingredient -->
   <%# <p class="btn btn-primary" data-action="click->ingredients#add">Add another Ingredient</p> %>
      </div>


            <div class="col-6">
        <div class="index_recipecard recipe-method">
          <h2 class="top">Method</h2>
          <div class="content m" style="padding-right: 20px;">
            <%= form.input :method, input_html: { style: "margin-top: 20px; justify-content: center; height: 355px;" }, label: false, placeholder:"STEP 1\nDo this thing\n\nSTEP 2\nDo this other thing\n\nSTEP 3\nPut it in the oven and enjoy with friends"%>
          </div>
        </div>
        <div class= "d-flex justify-content-end w-100">
          <%= form.submit "Add recipe", class: "button_default"%>
      </div>
      </div>

    </div>
    <%# <p class="btn btn-primary" data-action="click->ingredients#add">Add another Ingredient</p> %>


  <% end %>
</div>

      </div>
