<h1><%= @recipe.title %></h1>





<div class="reviewsection">
  <h5 class="containergrace"><strong>Review</strong></h5>
  <ul class="list-group">
    <% @recipe.reviews.each do |review| %>
    <li class="list-group-item"><%= review.comment %></li>
    <% end %>
  </ul>
    <%= simple_form_for [@recipe, @review] do |f| %>
    <%= f.input :comment, placeholder: "Leave your review here...", label: false%>
    <%= f.input :rating, collection: 1..5%>
    <%= f.submit "Submit", class: "btn btn-primary"%>
    <% end %>
</div>
