<div class="container">
  <div class="justify-content-between d-flex">
    <%= link_to "<", recipes_path, class: "button_default round" %>
    <% if current_user == @recipe.user %>
      <%=link_to"Edit", edit_recipe_path(@recipe), class: "button_default"  %>
    <% end %>
  </div>
  <div class="d-flex mt-2">

    <div class="imagediv col-6 pe-5">
       <div class="favoriting">
          <% if current_user %>
            <% if current_user.favorited?(@recipe) %>
              <%= link_to remove_favorite_path(@recipe), data: {turbo_method: :post} do%>
                <i class="fa-solid fa-heart"></i>
              <% end %>
            <% else %>
              <%= link_to add_favorite_path(@recipe), data: {turbo_method: :post} do%>
                <i class="fa-regular fa-heart"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% if @recipe.photo.attached? %>
        <%= cl_image_tag @recipe.photo.key, class: "recipe-image" %>
      <% elsif @recipe.image_url == nil %>
        <%= image_tag ("logo_small.png"), class: "recipe-image" %>
      <% else %>
        <%= image_tag (@recipe.image_url), class: "recipe-image" %>
      <% end %>
    </div>

    <div class="recipe-info col-6 d-flex flex-column justify-content-between">

      <div>
        <h1><strong><%= @recipe.title %></strong></h1>
        <h5><%= @recipe.description %></h5>
      </div>

      <div>

      <div class="d-flex justify-content-between mt-auto">
        <div class="d-flex align-items-center mb-3">
          <% if @recipe.user.photo.attached? %>
            <%= cl_image_tag @recipe.user.photo.key, class: "avatar-bordered" %>
          <% elsif @recipe.user.image.empty? %>
            <%= image_tag ("avatar.png"), class: "avatar-bordered" %>
          <% else %>
            <%= image_tag (@recipe.user.image), class: "avatar-bordered" %>
          <% end %>
          <div class="ms-2 d-flex flex-column align-items-start">
            <p><strong><%= @recipe.user.username %></strong></p>
            <p>June 2023</p>
          </div>
        </div>
        <div class="d-flex flex-column align-items-end">
          <div class="rating-stars d-flex">
            <% @recipe.get_rating.times do %>
              <p><i class="fa-solid fa-star"></i></p>
            <% end %>
            <% (5 - @recipe.get_rating).times do %>
              <p><i class="fa-regular fa-star"></i></p>
            <% end %>
          </div>
          <a href="#reviews"><button class="button_default green special">See Reviews</button></a>
        </div>
      </div>
 </div>

  <div class="infos">
      <div class="d-flex justify-content-between">
        <div class="d-flex" style="width: 300px">
          <i class="icon-large fa-solid fa-mortar-pestle"></i>
          <div>
            <h5>Prep time</h5>
            <p class="allergens_show"><%= @recipe.prep_time.to_i %> minutes</p>
          </div>
        </div>
        <div class="d-flex" style="width: 300px">
            <div class="d-flex justify-content-end" style="width: 40px"><i class="icon-large fa-solid fa-stopwatch"></i></div>
            <div>
              <h5>Cook time</h5>
              <p class="allergens_show"><%= @recipe.cook_time.to_i %> minutes</p>
            </div>
        </div>
        <div class="d-flex" style="width: 300px">
            <i class="icon-large fa-solid fa-utensils"></i>
            <div>
              <h5>Servings</h5>
              <p class="allergens_show"><%= @recipe.servings %></p>
            </div>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="d-flex" style="width: 300px">
          <i class="icon-large fa-solid fa-earth-americas"></i>
          <div>
            <h5>Cuisine</h5>
            <p class="allergens_show"><%= @recipe.cuisine %></p>
          </div>
        </div>
        <div class="d-flex" style="width: 300px">
            <div class="d-flex justify-content-end" style="width: 40px"><i class="icon-large fa-solid fa-traffic-light"></i></div>
            <div>
              <h5>Difficulty</h5>
              <p class="allergens_show"><%= @recipe.level %></p>
            </div>
        </div>
        <div class="d-flex" style="width: 300px">
            <i class="icon-large fa-solid fa-seedling"></i>
            <div>
              <h5>Allergens</h5>
              <p class="allergens_show">
              <%= "V" if @recipe.vegetarian %>
              <%= "VE" if @recipe.vegan %>
              <%= "GF" if @recipe.gluten_free %>
              <%= "DF" if @recipe.dairy_free %>
              <%= "NF" if @recipe.nut_free %>
              <%= "EF" if @recipe.egg_free %>
              </p>
            </div>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="bottomhalf d-flex">


    <div class="index_recipecard col-6">
      <h2 class="top">Ingredients</h2>
      <ul class="content i" >
        <% @recipe.ingredients.each do |ingredient| %>
          <li><input type="checkbox" class="steps">
          <label> <%= ingredient.name.capitalize %></label><br></li>
        <% end %>
      </ul>
    </div>

    <div class="col-6">
      <div class="index_recipecard recipe-method">
        <h2 class="top">Method</h2>
        <div class="content m" style="overflow-y: scroll;">
          <p><%= simple_format(@recipe.method) %></p>
        </div>
      </div>
    </div>



  </div>

  <div class="d-flex">
    <h2>More recipes from your <strong>frydg.</strong></h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>

  <div class="index_recipecard"  id="reviews">
    <h1 class="top">Reviews</h1>
    <div class="content d-flex">
              <div class="reviewsection col-6 mt-5">
      <%= simple_form_for [@recipe, @review], html: { action: "#{recipe_path(@recipe)}#reviews"} do |f| %>
        <%= f.input :comment, placeholder: "Leave your review here...", label: false%>
        <%= f.input :rating, collection: 1..5%>
        <%= f.submit "Add Review +", class: "button_default"%>
      <% end %>
    </div>
      <div class="review-container col-6">

      <%# <ul class="list-group"> %>
        <% @recipe.reviews.each do |review| %>
        <div class="review">
          <div>
            <div class="d-flex justify-content-between align-items-center w-100">
              <div class="list-group-item user">
                <% if review.user.photo.attached? %>
                  <%= cl_image_tag review.user.photo.key, class: 'avatar' %>
                <% end %>
                <p><%= review.user.first_name %> <%= review.user.last_name %></p>
              </div>
              <p><%= review.created_at.strftime("%b %d, %Y")%> </p>
            </div>
            <div class="rating-stars d-flex">
              <% review.rating.times do %>
                <p><i class="fa-solid fa-star"></i></p>
              <% end %>
              <% (5 - review.rating).times do %>
                <p><i class="fa-regular fa-star"></i></p>
              <% end %>
            </div>
          </div>

          <p class="list-group-item comment"><%= review.comment %></p>
        </div>
      <% end %>
      </div>






    </div>
  </div>

</div>
