
<h1>Frydg show page</h1>
<h2><%= @recipe.title %></h2>
<p><%= @recipe.description %></p>
<p><%= @recipe.method %></p>
<p><%= @recipe.prep_time %></p>
<p><%= @recipe.cook_time %></p>
<p><%= simple_format(@recipe.method) %></p>

<% if current_user.favorited?(@recipe) %>
  <%= link_to remove_favorite_path(@recipe), data: {turbo_method: :post} do%>
    <i class="fa-solid fa-heart"></i>
  <% end %>
<% else %>
  <%= link_to add_favorite_path(@recipe), data: {turbo_method: :post} do%>
    <i class="fa-regular fa-heart"></i>
  <% end %>
<% end %>

<div class="reviewsection">
  <h5 class="containergrace"><strong>Review</strong></h5>
  <ul class="list-group">
    <% @recipe.reviews.each do |review| %>
    <li class="list-group-item"><%= review.comment %></li>
    <% end %>
  </ul>

    <%= simple_form_for [@recipe, @review] do |f| %>
    <%= f.input :comment, placeholder: "Leave your review here...", label: false%>
    <%= f.input :rating, collection: 1..5%>
    <%= f.submit "Submit", class: "btn btn-primary"%>
    <% end %>
</div>

<div><%= link_to "Delete",
  recipe_path(@recipe),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%></div>
