<div class= "container">
<div class="button-container">
  <a href="/recipes/" class="button_default_user"><strong>Back</strong></a>
  <%= link_to destroy_user_session_path, class: "button_default_out" do %>
    <strong>Log Out</strong>
  <% end %>
</div>

<div class="container d-flex">
  <div class="left d-flex flex-column m-3 col-7">
    <div class="profile-info">
          <%= image_tag "https://i.pinimg.com/originals/14/bc/0d/14bc0ddcd3faf7fb07f49644230eec55.jpg" , class: 'avatar-profile', alt: 'Profile Picture' %>
      <p><%= @user.email %></p>
      <div class="profile-socials">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
      </div>
    </div>

    <div class="profile-recipes">
      <h3>My Recipes</h3>
      <%= link_to new_recipe_path, class: "button_default_add" do %>
        <strong>Add Recipe +</strong>
      <% end %>

      <div class="card-grid-submitted col-12">
        <% @recipes.each do |recipe| %>
          <%= link_to recipe_path(recipe) do %>
            <%= render "shared/cardrecipe", recipe: recipe %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="right col-5">
    <% if user_signed_in? %>
      <%= render "shared/favourites", favorites: @favorite_recipes %>
    <% else %>
      <%= render "shared/bio" %>
    <% end %>
  </div>
</div>

         <div class="w-25 border"></div>
          </div>


<div class="recipe flex-column">
  <div class="w-75 border"></div>
</div>
</div>
