<div class="styling">
  <ul class="card_recipes_submitted">
  <% if recipe.photo.attached? %>
    <li><%= cl_image_tag recipe.photo.key, class: "recipecards_img" %></li>
  <% else %>
    <li><%= image_tag recipe.image_url, class: "recipecards_img" %></li>
  <% end %>
    <div class="bottomcontainer">
          <li class="recipe_card_title"><strong><%= recipe.title %></strong></li>
          <div class="allergens d-flex">
            <% if recipe.vegetarian %>
              <li><i class="fa-solid fa-drumstick-bite"></i></li>
            <% end %>
            <% if recipe.vegan %>
              <li><i class="fa-solid fa-seedling"></i></li>
            <% end %>
            <% if recipe.dairy_free %>
              <li><i class="fa-solid fa-glass-water"></i></li>
            <% end %>
            <% if recipe.gluten_free %>
              <li><i class="fa-solid fa-wheat-awn"></i></li>
            <% end %>
          </div>
          <%# took out cuisine more useful as search tool %>
          <div class="infograms d-flex">
            <li><i class="fa-solid fa-stopwatch" style="color: #2dd99c;"></i> <%= recipe.prep_time.to_i %> mins</li>
            <li><i class="fa-solid fa-fire-burner" style="color: #2dd99c;"></i> <%= recipe.cook_time.to_i %> mins</li>
            <li><i class="fa-solid fa-utensils" style="color: #2dd99c;"></i> <%= recipe.level %></li>
          </div>
    </div>
  </ul>
</div>
