<div class="navbar">
  <div class="container-fluid nav-all">

    <!-- Burger Button for Sidebar --->
    <div class= "sidebar-nav">
      <i class="fa-solid fa-burger fa-2xl" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar" style="color: #ffffff;"></i>
    </div>
    <!--- end --->


    <!-- Logo in the Middle -->
    <%= link_to root_path, class: "navbar-brand mx-auto logo" do %>
    <%= image_tag "logo.png", alt: "Your Logo" %>
    <% end %>
    <!--- end --->

    <!-- Profile Sign-in Button on the Right -->
       <div class="navbar-nav">
      <% if user_signed_in? %>
        <!-- If user is signed in, show profile picture (current_user.profile_picture_url) -->
        <%= link_to user_path(current_user) do %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" , class: 'avatar', alt: 'Profile Picture' %>
        <% end %>
      <% else %>
        <!-- If user is not signed in, show sign-in icon -->
        <%= link_to new_user_session_path, class: 'nav-link' do %>
          <i class="fas fa-sign-in-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
