<div class="offcanvas-body">
  <div class="sidebar-all">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="sidebar">
      <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <!-- Menu items -->
      <ul class="sidebar-nav">
        <li class="nav-item">
          <h1>Menu</h1>
        </li>
        <li class="nav-item1">
          <%= link_to "My Profile", user_session_path, class: "nav-link all-recipes" %>
        </li>
        <li class="nav-item1">
          <%= link_to "All Recipes", recipes_path, class: "nav-link" %>
        </li>
        <li class="nav-item1">
          <%= link_to "Food Bank It", root_path, class: "nav-link" %>
        </li>
        <li class="quick-actions">
          <%= link_to "New Recipe", new_recipe_path, class: "action-link" %>
          <%= link_to "Manage Account", edit_user_registration_path, class: "action-link" %>
          <li class="user-info">
            <%= image_tag "avatar.png", alt: "Profile Picture", class: "profile-pic" %>
            <p class="user-name"><%= current_user.email%></p>
          </li>
          <li class="nav-item1">
            <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
          </li>
        </li>
      </ul>
    </div>
  </div>
</div>
