<div class="review">
  <div>
    <div class="d-flex justify-content-between align-items-center w-100">
      <div class="list-group-item user">
        <% if review.user.photo.attached? %>
          <%= cl_image_tag review.user.photo.key, class: 'avatar' %>
        <% end %>
        <p><%= review.user.first_name %> <%= review.user.last_name %></p>
      </div>
      <p><%= review.created_at.strftime("%b %d, %Y")%> </p>
    </div>
    <div class="rating-stars d-flex">
      <% review.rating.times do %>
        <p><i class="fa-solid fa-star"></i></p>
      <% end %>
      <% (5 - review.rating).times do %>
        <p><i class="fa-regular fa-star"></i></p>
      <% end %>
    </div>
  </div>

  <p class="list-group-item comment"><%= review.comment %></p>
</div>
